{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
	<h3>Background</h3>
	<p>I am currently an M.S. Candidate in <a href="https://www.cs.utexas.edu/" target="_blank" rel="external">Computer
			Science</a> at <a href="https://www.utexas.edu/" target="_blank" rel="external">The University of Texas at
			Austin</a>. I received B.S. degrees in <a href="https://www.cs.fsu.edu/" target="_blank" rel="external">Computer
			Science</a> and <a href="https://www.math.fsu.edu/" target="_blank" rel="external">Applied Mathematics</a> from
		<a href="https://www.fsu.edu/" target="_blank" rel="external">Florida State University</a> in 2021, and a B.A. in <a
			href="https://phil.ufl.edu/" target="_blank" rel="external">Philosophy</a> from the <a
			href="https://www.ufl.edu/" target="_blank" rel="external">University of Florida</a> in 2009.</p>
	<p>My research interests lie in Artificial Intelligence and Neuroscience. I am particularly interested in developing and
		improving computational models of human cognition, with the goal of creating more explainable and generalizeable
		biologically inspired AI algorithms and techniques.</p>
	
	<h3>Research</h3>
	<ul>
		<li>
			<strong>Undergraduate Research Assistant</strong>
			<ul>
				<li>Florida State University USER Lab</li>
				<li>January 2020 - April 2021</li>
				<li>Supervisor: Dr. Chris Mills</li>
				<li>Topic: Automating Software Traceability Link Recovery utilizing Word Embeddings within a Shallow Neural
					Network</li>
			</ul>
		</li>
		<li>
			<strong>Honors in the Major Program</strong>
			<ul>
				<li>Undergraduate Thesis</li>
				<li>August 2019 - May 2020</li>
				<li>Supervisors: Dr. Sonia Haiduc, Ms. Sharanya Jayaraman</li>
				<li>Topic: Skin Cancer Detection and Classification using an Artificial Neural Network</li>
			</ul>
		</li>
	</ul>
	
	<!-- <h3>Publications</h3> -->
	
	<h3>Projects</h3>
	<ul>
		<li>
			<a href="https://fsu-acm.github.io/Programming-Contest-Suite/" target="_blank" rel="external">Programming
				Contest Suite</a>: A Django + DOMjudge web application for hosting ICPC style programming contests at
			Florida State University.
		</li>
		<ul>
			<li>Author and maintainer</li>
		</ul>
	</ul>
	
	<img id="boinc" src="https://boincstats.com/signature/-1/user/571340/sig.png" alt="BOINC Stats">
{% endblock %}